ul.no-bullets {
  list-style-type: none;
}

.container {
  padding: 30px;
}

form button {
  margin-left: 10px;
}

.todo-list {
  padding: 10px 0px;
}

.todo-completed {
  padding-top: 10px;
  font-weight: bold;
}
